API_HOST=0.0.0.0
API_PORT=8080
API_TOKEN=replace_with_32_char_token
API_PREFIX=/api/v1

CERT_DOMAINS=links-app.top,*.links-app.top
CF_TOKEN=replace_with_cloudflare_token
CERT_OUTPUT_DIR=./certs
RENEW_THRESHOLD_DAYS=15

ACME_DNS_PROVIDER=dns_cf
ACME_KEYLENGTH=ec-256
ACME_CONTACT_EMAIL=
ACME_DIRECTORY_URL=https://acme-v02.api.letsencrypt.org/directory
DNS_PROPAGATION_TIMEOUT=180
DNS_POLL_INTERVAL=10
